.topbar {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
}

.button {
    padding: 2px 6px;
    border: 2px #808080;
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
}
.button:hover {
    background-color: #e0e0e0;
}